.iso-items{ list-style-type: none; }
.iso-item{ width: 25%; }

.da-thumbs{ padding: 0; }
.da-thumbs li { 
  position: relative;
  overflow: hidden; 
}

.da-thumbs li, .da-thumbs li a{
  display: block;
  position: relative;
  color: #FFF;
}

.portfolio-text{
  position: absolute;
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
}

.portfolio-link-container{
  margin-top: 10px auto;
  width: 200px;
  text-align: center;
}
.portfolio-link{
  background-color: #87CDFA;
  border-radius: 50%;
  text-decoration: none;
  padding: 10px;
  margin: 0 3px;
  float: left;
}
.portfolio-link-container > a{
  color: #000 !important;
}
.portfolio-link:hover{
  background-color: #FFF;
  text-decoration: none;
  color: #000;
}

@media (max-width: 767px) {
  .portfolio-text > h2{ font-size: 12pt; }
}