.iso-items{ list-style-type: none; }
.iso-item{ width: 25%; }

.da-thumbs{ padding: 0; }
.da-thumbs li { 
  position: relative;
  overflow: hidden; 
}

.da-thumbs li, .da-thumbs li a{
  display: block;
  position: relative;
  color: #FFF;
}

.portfolio-text{
  position: absolute;
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
}

.portfolio-link{
  background-color: #87CDFA;
  border-radius: 50%;
  text-decoration: none;
  padding: 10px;
  margin: 0 3px;
  float: left;
}

@media (max-width: 767px) {
  .portfolio-text > h2{ font-size: 12pt; }
}




.round-button {
  width:25%;
}
.round-button-circle {
  width: 100%;
  height:0;
  padding-bottom: 100%;
  border-radius: 50%;
  border:10px solid #cfdcec;
  overflow:hidden;

  background: #4679BD; 
  box-shadow: 0 0 3px gray;
}
.round-button a {
  display:block;
  float:left;
  width:100%;
  padding-top:50%;
  padding-bottom:50%;
  line-height:1em;
  margin-top:-0.5em;

  text-align:center;
  color:#e2eaf3;
  font-family:Verdana;
  font-size:1.2em;
  font-weight:bold;
  text-decoration:none;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}




/*.portfolio-bubble{
  border-radius: 50%;
  height: 135px;
  line-height: 135px;
  font-size: 3em;
  color: #333;
  border: 1px solid #666;
}
a.portfolio-bubble{
  text-decoration: none;
}
*/
.portfolio-bubble:hover{
  color: #000;
}
.portfolio-bubble.app{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cdeb8e+0,a5c956+100;Green+3D+%232 */
  background: #cdeb8e; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #cdeb8e 0%, #a5c956 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #cdeb8e 0%,#a5c956 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #cdeb8e 0%,#a5c956 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.portfolio-bubble.app:hover{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a5c956+0,cdeb8e+100 */
  background: #a5c956; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #a5c956 0%, #cdeb8e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #a5c956 0%,#cdeb8e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #a5c956 0%,#cdeb8e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5c956', endColorstr='#cdeb8e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}


.portfolio-bubble.git{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87e0fd+0,53cbf1+40,05abe0+100;Blue+3D+%23+16 */
  background: #87e0fd; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.portfolio-bubble.git:hover{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#05abe0+0,53cbf1+60,87e0fd+100 */
  background: #05abe0; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #05abe0 0%, #53cbf1 60%, #87e0fd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #05abe0 0%,#53cbf1 60%,#87e0fd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #05abe0 0%,#53cbf1 60%,#87e0fd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#87e0fd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}